<!-- your html code here -->

<div class="row">
   
    <div class="card mb-3">
        <hr class=" ">
        <div class="row g-0">

            <div class="col-md-7">
           
                <div class="card-body ps-5 ">
                   
                    <h1 class="card-title mt-5 " styles="width:18rem;">This Firts Heading <small class="text-muted">Will Cath Your Eyes</small>
                    </h1>
                    <p class="card-text ">
                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismood
                        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, telius
                        ac cursus commodo..</p>

                </div>
            </div>
            <div class="col-md-5">
                <img src="assets/img/1.jpg" class="img-fluid rounded-circle rounded mx-auto d-block mt-5 mb-5 w-50 "
                    alt="...">
                   
            </div>
        </div>
        <hr class=" ">
    </div>


</div>


</div>